
@model ASP.NetEmpty3.ViewModel.HomeDetailsViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card text-dark bg-info mb-3" style="max-width: 30rem;">
    <div class="card-header">Employee Details</div>

    <div class="card-body">
        <img class="card-img-top" src="~/images/4.png" asp-append-version="true" />

        <h5> Id: @Model.Employee.id</h5>
        <h5> Age: @Model.Employee.age</h5>
        <h5> Name: @Model.Employee.name</h5>
    </div>
    <div class="card-footer">
        <button class="btn btn-success"> VIEW</button>
        <button class="btn btn-primary">UPDATE </button>
        <button class="btn btn-danger"> DELETE</button>
        <a asp-controller="Home" asp-action="Details1" asp-route-id="@Model.Employee.id" class="btn btn-dark">Done</a>
    </div>
</div>




@*<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/4.png" asp-append-version="true" />
    <div class="card-body">
        <h5 class="card-title">Employee Details</h5>
        <h5> Age: @Model.Employee.age</h5>
        <h5> Id: @Model.Employee.id</h5>
        <h5> Name: @Model.Employee.name</h5>
    </div>
    <div class="card-footer">
        <a asp-controller="Home" asp-action="Details1" asp-route-id="@Model.Employee.id" class="btn btn-success">Back</a>
    </div>
</div>*@